# Prueba Claro
## Frank Montenegro - frandak2@gmail.com

### importamos las librerias que vamos a usar

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

### redireccionamos la ruta del notebook

In [2]:
import os
g = os.getcwd()
g
path = 'D:\\repos\\GEO_claro'
os.chdir(path)

## Procedemos a leer los archivos shapefile
de antemanos sabemos que el shape MGN es la capa de centros poblados del igac, en este shape tenemos imforacion sobre la forma, tamano y area de cada centro poblado del pais

In [4]:
MGN = gpd.read_file('data\MGN.shp')#leemos el shapefile
MGN.head(5) #observamos sus 5 primeras filas
MGN.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 11570 entries, 0 to 11569
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          11570 non-null  float64
 1   gid         11570 non-null  float64
 2   dpto_ccdgo  11570 non-null  object
 3   mpio_ccdgo  11570 non-null  object
 4   cpob_ccdgo  11570 non-null  object
 5   setu_ccnct  11570 non-null  object
 6   shape_leng  11570 non-null  float64
 7   shape_area  11570 non-null  float64
 8   setu_ccdgo  11570 non-null  object
 9   geometry    11570 non-null  geometry
dtypes: float64(4), geometry(1), object(5)
memory usage: 904.0+ KB

In [4]:
MGN['mpio_ccdgo'] = MGN.mpio_ccdgo.astype(int) #transformamos el dato a tipo entero
bgt = MGN[MGN['mpio_ccdgo'] == 11001] # seleccionamos solo la informacion de bogota
bgt.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [5]:
bgt = bgt.rename(str.upper, axis='columns')
bgt

,ID,GID,DPTO_CCDGO,MPIO_CCDGO,CPOB_CCDGO,SETU_CCNCT,SHAPE_LENG,SHAPE_AREA,SETU_CCDGO,GEOMETRY
276,908.0,1783.0,11,11001,11001000,110011000000004404,0.016345,0.000013,4404,"POLYGON ((-74.12519 4.59772, -74.12522 4.59768..."
285,5554.0,1578.0,11,11001,11001000,110011000000001319,0.024510,0.000028,1319,"POLYGON ((-74.09170 4.54830, -74.09178 4.54803..."
311,952.0,1842.0,11,11001,11001000,110011000000004549,0.023300,0.000032,4549,"POLYGON ((-74.21336 4.61106, -74.21266 4.61178..."
379,5503.0,1696.0,11,11001,11001000,110011000000002546,0.049631,0.000075,2546,"POLYGON ((-74.12485 4.52050, -74.12477 4.52044..."
438,5485.0,2024.0,11,11001,11001000,110011000000007405,0.014410,0.000012,7405,"POLYGON ((-74.07096 4.66595, -74.07099 4.66591..."
...,...,...,...,...,...,...,...,...,...,...
8271,5805.0,2178.0,11,11001,11001014,110012011040140001,0.014542,0.000011,0001,"POLYGON ((-74.35929 3.89186, -74.35918 3.89184..."
8586,6632.0,2174.0,11,11001,11001010,110012010010100001,0.007384,0.000003,0001,"POLYGON ((-74.36375 3.98653, -74.36369 3.98645..."
9194,8310.0,2170.0,11,11001,11001002,110012007030020001,0.008850,0.000004,0001,"POLYGON ((-74.14754 4.17406, -74.14750 4.17402..."
9269,8315.0,2177.0,11,11001,11001013,110012004040130001,0.008453,0.000002,0001,"POLYGON ((-74.13812 4.41049, -74.13809 4.41049..."
9281,8312.0,2172.0,11,11001,11001008,110012009050080001,0.019514,0.000015,0001,"POLYGON ((-74.31352 4.02810, -74.31357 4.02810..."

In [6]:
MGN_SURBN = gpd.read_file('data\ShapefileMGN_ANM_MANZANA\MGN_ANM_MANZANA.shp')#leemos el shapefile
MGN_SURBN.head(5) #observamos sus 5 primeras filas

,COD_DANE_A,DPTO_CCDGO,MPIO_CCDGO,MPIO_CDPMP,CLAS_CCDGO,SETR_CCDGO,SETR_CCNCT,SECR_CCDGO,SECR_CCNCT,ZU_CCDGO,...,TP51POSTGR,TP51_13_ED,TP51_99_ED,CD_LC_CM,NMB_LC_CM,TP_LC_CM,Shape_Leng,Shape_Area,COD_RDTM,geometry
0,0500210000000000010101,05,002,05002,1,000,050021000,00,05002100000,000,...,0.0,10.0,1.0,None,None,None,0.002298,2.038760e-07,050021990000000000010101,"POLYGON ((-75.42779 5.79423, -75.42780 5.79422..."
1,0500210000000000010102,05,002,05002,1,000,050021000,00,05002100000,000,...,0.0,19.0,4.0,None,None,None,0.003402,5.600867e-07,050021990000000000010102,"POLYGON ((-75.42719 5.79421, -75.42715 5.79415..."
2,0500210000000000010103,05,002,05002,1,000,050021000,00,05002100000,000,...,0.0,6.0,1.0,None,None,None,0.002622,4.293780e-07,050021990000000000010103,"POLYGON ((-75.42804 5.79294, -75.42807 5.79291..."
3,0500210000000000010104,05,002,05002,1,000,050021000,00,05002100000,000,...,0.0,11.0,2.0,None,None,None,0.002673,4.493171e-07,050021990000000000010104,"POLYGON ((-75.42853 5.79348, -75.42860 5.79342..."
4,0500210000000000010105,05,002,05002,1,000,050021000,00,05002100000,000,...,0.0,0.0,0.0,None,None,None,0.001338,8.776894e-08,050021990000000000010105,"POLYGON ((-75.42910 5.79393, -75.42910 5.79393..."

In [7]:
MGN_SURBN.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 504996 entries, 0 to 504995
Columns: 110 entries, COD_DANE_A to geometry
dtypes: float64(86), geometry(1), int64(1), object(22)
memory usage: 423.8+ MB

In [8]:
MGN_SURBN['MPIO_CDPMP'] = MGN_SURBN.MPIO_CDPMP.astype(int) #transformamos el dato a tipo entero
MGN_SURBN['MPIO_CDPMP']
bgt_urbn = MGN_SURBN[MGN_SURBN['MPIO_CDPMP'] == 11001] # seleccionamos solo la informacion de bogota
bgt_urbn.shape

(43408, 110)

## enriquesemos nuestro infomacion con CNPV2018
### No es necesario hacer una operacion espacial, lo que haremos sera hacer un merge por el codigo del sector urbano

In [9]:
merge_bgt = bgt.merge(bgt_urbn, how='inner', on = 'SETU_CCDGO')# unimos la inforacion de las manzanas con las del sector urbano
merge_bgt.shape

(44101, 119)

In [10]:
merge_bgt.columns

Index(['ID', 'GID', 'DPTO_CCDGO_x', 'MPIO_CCDGO_x', 'CPOB_CCDGO',
       'SETU_CCNCT_x', 'SHAPE_LENG', 'SHAPE_AREA', 'SETU_CCDGO', 'GEOMETRY',
       ...
       'TP51POSTGR', 'TP51_13_ED', 'TP51_99_ED', 'CD_LC_CM', 'NMB_LC_CM',
       'TP_LC_CM', 'Shape_Leng', 'Shape_Area', 'COD_RDTM', 'geometry'],
      dtype='object', length=119)

In [11]:
cols = ['TVIVIENDA','TP14_1_TIP','TP14_2_TIP','TP14_3_TIP','TP19_EE_E1','TP19_EE_E2','TP19_EE_E3','TP19_EE_E4','TP19_EE_E5','TP19_EE_E6','TP19_EE_E9','TP19_INTE1','TP19_INTE2',
'TP19_INTE9','TP32_1_SEX','TP32_2_SEX','TP34_1_EDA','TP34_2_EDA','TP34_3_EDA','TP34_4_EDA','TP34_5_EDA','TP34_6_EDA','TP34_7_EDA','TP34_8_EDA','TP34_9_EDA','NMB_LC_CM'] #examinamos las columnas que nos servirian para nutrir nuestra informacion espacial.
#SECTOR URBANO
# ['STVIVIENDA','STP14_1_TI','STP14_2_TI','STP14_3_TI','STP19_EE_1','STP19_EE_2','STP19_EE_3','STP19_EE_4','STP19_EE_5','STP19_EE_6','STP19_EE_9','STP19_INT1','STP19_INT2',
# 'STP19_INT9','STP32_1_SE','STP32_2_SE','STP34_1_ED','STP34_2_ED','STP34_3_ED','STP34_4_ED','STP34_5_ED','STP34_6_ED','STP34_7_ED','STP34_8_ED','STP34_9_ED','STP51_PRIM',
# 'STP51_SECU','STP51_SUPE','STP51_POST','STP51_13_E','STP51_99_E']

BGT_MGN = merge_bgt.groupby(['SETU_CCDGO'])[cols].sum()#lo agrupamos por el codigo de SECTOR URBANO y sumamos las columnas para tner el total por sector

In [12]:
BGT_MGN.reset_index(inplace=True)#reseteamos el indice
print(BGT_MGN.shape)#confirmamos el tamanio
BGT_MGN.head(5)#exploramos al info

(632, 26)

,SETU_CCDGO,TVIVIENDA,TP14_1_TIP,TP14_2_TIP,TP14_3_TIP,TP19_EE_E1,TP19_EE_E2,TP19_EE_E3,TP19_EE_E4,TP19_EE_E5,...,TP32_2_SEX,TP34_1_EDA,TP34_2_EDA,TP34_3_EDA,TP34_4_EDA,TP34_5_EDA,TP34_6_EDA,TP34_7_EDA,TP34_8_EDA,TP34_9_EDA
0,0001,8640.0,6390.0,1860.0,380.0,2130.0,4840.0,520.0,100.0,10.0,...,12290.0,3560.0,4150.0,4850.0,3810.0,3260.0,2840.0,1230.0,710.0,290.0
1,1101,1657.0,295.0,1278.0,83.0,21.0,1334.0,102.0,2.0,1.0,...,2374.0,576.0,673.0,950.0,775.0,621.0,542.0,290.0,123.0,50.0
2,1102,2849.0,1077.0,1697.0,74.0,9.0,2453.0,60.0,2.0,1.0,...,4578.0,1150.0,1451.0,1652.0,1562.0,1119.0,975.0,573.0,263.0,114.0
3,1103,2138.0,1113.0,964.0,58.0,31.0,1939.0,6.0,4.0,0.0,...,3695.0,843.0,1117.0,1305.0,1038.0,917.0,919.0,519.0,242.0,102.0
4,1104,1345.0,1066.0,249.0,26.0,1152.0,77.0,2.0,2.0,0.0,...,2319.0,736.0,840.0,863.0,647.0,501.0,474.0,261.0,134.0,38.0

In [13]:
BGT_MGN = BGT_MGN.iloc[1:,]#eliminamos la fila 0 ya que trae el mismo codigo pra las manzanas
# BGT_MGN['SETU_CCDGO'] = BGT_MGN.SETU_CCDGO.astype(int) #transformamos el dato a tipo entero

In [14]:
BGT = BGT_MGN.merge(bgt.drop(columns=['ID','GID','SHAPE_LENG','SHAPE_AREA']), how='inner', on = 'SETU_CCDGO')#le agregamos la componente espacial a nuestro informacion
GBGT = gpd.GeoDataFrame(BGT,crs="EPSG:4326")
GBGT.shape

C:\Users\FRANKH~1\AppData\Local\Temp/ipykernel_6568/1075598366.py:2: FutureWarning: Assigning CRS to a GeoDataFrame without a geometry column is now deprecated and will not be supported in the future.
  GBGT = gpd.GeoDataFrame(BGT,crs="EPSG:4326")

(631, 31)

In [65]:
GBGT = GBGT.rename(columns={'GEOMETRY':'geometry'})
GBGT.columns
GBGT.to_file('data\MGN_data.shp')#exporta el geopanda como shp

## Como solo tenemos informacion a nivel del sector urbano, le agregaremos una columna de localidad
### para eso necesitamos hacer una interceccion de nustras datos para poder crear un nuevo archivo con las localidades y demas informacion. pero por problemas de topologia donde u sector comercia puede pertenecer a mas de 1 o 2 localidades trabajaremos con el dato que trae cada manzana

In [47]:
cols = ['TVIVIENDA','TP14_1_TIP','TP14_2_TIP','TP14_3_TIP','TP19_EE_E1','TP19_EE_E2','TP19_EE_E3','TP19_EE_E4','TP19_EE_E5','TP19_EE_E6','TP19_EE_E9','TP19_INTE1','TP19_INTE2',
'TP19_INTE9','TP32_1_SEX','TP32_2_SEX','TP34_1_EDA','TP34_2_EDA','TP34_3_EDA','TP34_4_EDA','TP34_5_EDA','TP34_6_EDA','TP34_7_EDA','TP34_8_EDA','TP34_9_EDA']
G_local = bgt_urbn.groupby('NMB_LC_CM')[cols].agg({np.min,np.mean,np.median,np.max,np.sum}).unstack().reset_index()

In [48]:
G_local["col_stats"] = G_local.level_0 +"_"+ G_local.level_1
G_local = G_local.pivot_table(values=0, index='NMB_LC_CM',columns='col_stats')
G_local.reset_index(inplace=True)

### ya tenemos una tabla con la informacion por localidad, le asignaremos la componente espacial

In [49]:
localidades = gpd.read_file('data\localidades\localidades.shp')# leemos el shape de comunas
localidades = localidades.to_crs(4326) #cambio de crs
localidades = localidades[['NOMBRE', 'CODIGO_LOC', 'geometry']] #columnas relevante

### union de los dos dataframes

In [64]:
G_local = G_local.rename(columns={'NMB_LC_CM':'NOMBRE'}) #cambio de nombre
merge_local = G_local.merge(localidades, how='inner', on = 'NOMBRE')#merge
localidades = gpd.GeoDataFrame(merge_local,crs="EPSG:4326")#creacion de geopanda
# localidades.to_file('data\localidades\localidades_data.shp')#exporta el geopanda como shp

C:\Users\FRANKH~1\AppData\Local\Temp/ipykernel_6568/8984107.py:4: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  localidades.to_file('data\localidades\localidades_data.shp')

In [5]:
loc = gpd.read_file('data\localidades\localidades_data.shp')
loc.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 19 entries, 0 to 18
Columns: 128 entries, NOMBRE to geometry
dtypes: float64(125), geometry(1), object(2)
memory usage: 19.1+ KB

In [7]:
loc.columns

Index(['NOMBRE', 'TP14_1_TIP', 'TP14_1_T_1', 'TP14_1_T_2', 'TP14_1_T_3',
       'TP14_1_T_4', 'TP14_2_TIP', 'TP14_2_T_1', 'TP14_2_T_2', 'TP14_2_T_3',
       ...
       'TP34_9_E_2', 'TP34_9_E_3', 'TP34_9_E_4', 'TVIVIENDA_', 'TVIVIEND_1',
       'TVIVIEND_2', 'TVIVIEND_3', 'TVIVIEND_4', 'CODIGO_LOC', 'geometry'],
      dtype='object', length=128)